<div class="side-content-wrap">
    <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
        <ul class="navigation-left">
            <li class="nav-item">
                <a class="nav-item-hold" href="@Url.Action("Index", "Home" )"><i class="nav-icon i-Bar-Chart"></i><span class="nav-text">Dashboard</span></a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="products">
                <a class="nav-item-hold" href="#"><i class="nav-icon i-Library"></i><span class="nav-text">Products</span></a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="orders">
                <a class="nav-item-hold" href="#"><i class="nav-icon i-File-Clipboard-File--Text"></i><span class="nav-text">Orders</span></a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="users">
                <a class="nav-item-hold" href="#"><i class="nav-icon i-Computer-Secure"></i><span class="nav-text">Users</span></a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="finance">
                <a class="nav-item-hold" href="#"><i class="nav-icon i-Computer-Secure"></i><span class="nav-text">Finances</span></a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="category">
                <a class="nav-item-hold" href="#"><i class="nav-icon i-Computer-Secure"></i><span class="nav-text">Register</span></a>
                <div class="triangle"></div>
            </li>
        </ul>
    </div>
    <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
        <ul class="childNav" data-parent="Broker">
            <li class="nav-item"><a href="chat.html"><i class="nav-icon i-Speach-Bubble-3"></i><span class="item-name">Broker Balance</span></a></li>
        </ul>
        <ul class="childNav" data-parent="extrakits">
            <li class="nav-item"><a href="@Url.Action("Categories", "Common")"><i class="nav-icon i-Crop-2"></i><span class="item-name">Register</span></a></li>
        </ul>
        <ul class="childNav" data-parent="products">
            <li class="nav-item"><a href="@Url.Action("AddProduct", "Product" )"><i class="nav-icon i-Bell1"></i><span class="item-name">Add Products to Marketplace</span></a></li>
            <li class="nav-item"><a href="@Url.Action("Index", "Product" )"><i class="nav-icon i-Bell1"></i><span class="item-name">View / Edit Products</span></a></li>
            <li class="nav-item"><a href="@Url.Action("GetProduct", "Product" )"><i class="nav-icon i-Search-on-Cloud"></i><span class="item-name">Scrap Product</span></a></li>
        </ul>
        <ul class="childNav" data-parent="category">
            <li class="nav-item"><a href="@Url.Action("Category","Common")"><i class="nav-icon i-Male"></i><span class="item-name">Category Management</span></a></li>
            <li class="nav-item"><a href="@Url.Action("AccountHeads","Finance")"><i class="nav-icon i-Data-Financial"></i><span class="item-name">Register Account Head</span></a></li>
            <li class="nav-item"><a href="@Url.Action("UpdateShippingCharges","Finance")"><i class="nav-icon i-Data-Financial"></i><span class="item-name">Shipping Charges</span></a></li>
            <li class="nav-item"><a href="@Url.Action("UpdateScrapping","Common")"><i class="nav-icon i-Data-Financial"></i><span class="item-name">Scrapping Credentials</span></a></li>
        </ul>
        <ul class="childNav" data-parent="orders">
            <li class="nav-item"><a href="@Url.Action("Index","Order")"><i class="nav-icon i-Male"></i><span class="item-name">View Orders</span></a></li>
            <li class="nav-item"><a href="@Url.Action("ManualOrder","Order")"><i class="nav-icon i-Add-Cart"></i><span class="item-name">Enter Manual Orders</span></a></li>
        </ul>
        <ul class="childNav" data-parent="users">
            <li class="nav-item"><a href="@Url.Action("MarketPlaceUsers","User")"><i class="nav-icon i-Male"></i><span class="item-name">Marketplace Users</span></a></li>
        </ul>
        <ul class="childNav" data-parent="finance">
            <li class="nav-item"><a href="@Url.Action("AddExpense","Finance")"><i class="nav-icon i-Financial"></i><span class="item-name">Add Expense</span></a></li>
            <li class="nav-item"><a href="@Url.Action("GetExpenses","Finance")"><i class="nav-icon i-Male"></i><span class="item-name">View Expense Entries</span></a></li>
            <li class="nav-item"><a href="@Url.Action("AddIncome","Finance")"><i class="nav-icon i-Male"></i><span class="item-name">Add Income</span></a></li>
            <li class="nav-item"><a href="@Url.Action("GetIncome","Finance")"><i class="nav-icon i-Male"></i><span class="item-name">View Income Entries</span></a></li>
            <li class="nav-item"><a href="@Url.Action("GetReceivables","Finance")"><i class="nav-icon i-Male"></i><span class="item-name">View Receivables</span></a></li>
            <li class="nav-item"><a href="@Url.Action("GetLedger","Finance")"><i class="nav-icon i-Male"></i><span class="item-name">Ledger</span></a></li>
            <li class="nav-item"><a href="@Url.Action("ProfitStatement","Finance")"><i class="nav-icon i-Male"></i><span class="item-name">Profit Statement</span></a></li>
        </ul>
    </div>
    <div class="sidebar-overlay"></div>
</div>
