@model OnlineShop.Models.RegisterSignin

@{
    string error = (string)TempData["Error"];
}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Change<span>Password</span></h1>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Account</a></li>
                <li class="breadcrumb-item active"><a href="#">change password</a></li>
            </ol>
        </div>
    </nav>

    <div class="page-content">
        <div class="dashboard">
            <div class="container">

                <div class="row">
                    @Html.Partial("_UserSideMenu")
                    <div class="col-md-10">
                        @if (error != null)
                        {
                            @Html.Partial("~/Views/Shared/_ErrorTempData.cshtml", error);
                        }
                        <div class="tab-pane fade active show" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                            <form action="~/account/ChangePassword" method="post">
                                @Html.AntiForgeryToken()
                                <label>Current password </label>
                                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", type = "password", required = true })

                                <label>New password *</label> @Html.ValidationMessageFor(x => Model.Password, "", new { @style = "color:red", required = true })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                                <label>Confirm new password *</label> @Html.ValidationMessageFor(x => Model.ConfirmPassword, "", new { @style = "color:red", required = true })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                                <button type="submit" class="btn btn-outline-primary-2">
                                    <span>Update </span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                            </form>
                        </div><!-- .End .tab-pane -->

                    </div>
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->

</main>