@model List<ControlCenter.Models.Income>
@{
    ViewBag.Title = "GetIncome";
}
<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="main-content">
        <div class="breadcrumb">
            <h1>Total Income <b>(Rs. @Model.Sum(x => x.Amount).ToString("##,##0"))</b></h1>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <div class="row mb-4">
            <div class="col-md-12 mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display table table-striped table-bordered" id="zero_configuration_table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Account Head Name</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Creation Time</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.AccountHeadName</td>
                                            <td>@item.Details</td>
                                            <td>@item.Amount.ToString("##,##0")</td>
                                            <td>@item.CreatedOn.ToString("dd-MMM-yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

