@model List<ControlCenter.Models.LedgerModel>
@{
    ViewBag.Title = "GetLedger";
    var PerPersonShare = TempData["PerPersonShare"];
}
<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="main-content">
        <div class="breadcrumb">
            <h1><b>Total Income = Rs. @Model.Sum(x => x.Income).ToString("##,##0") |  Total Expense = Rs. @Model.Sum(x => x.Expense).ToString("##,##0") | Share Per Person = Rs. @PerPersonShare</b></h1>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <div class="row mb-4">
            <div class="col-md-12 mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display table table-striped table-bordered" id="zero_configuration_table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Reference</th>
                                        <th>Income</th>
                                        <th>Expense</th>
                                        <th>Balance</th>
                                        <th>Time Stamp</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Reference</td>
                                            <td>@item.Income.ToString("##,##0")</td>
                                            <td>@item.Expense.ToString("##,##0")</td>
                                            <td>@item.Balance.ToString("##,##0")</td>
                                            <td>@item.CreationTime.ToString("dd-MMM-yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
