@model List<ControlCenter.Models.OrderModel>
@{
    ViewBag.Title = "Index";
}

<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="main-content">
        <div class="breadcrumb">
            <h1>All Orders</h1>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="~/finance/SearchByAccountHead" method="post">
                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="AccountHeadId">Search by Account Head</label>
                                    <input class="" />
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <form action="@Url.Action("GetInvoiceMultipleOrderID", "Finance")" method="post">

                            <button id="generate-invoice" type="submit" class="btn btn-primary">Generate Invoice</button>
                            <br />
                            <br />
                            <div class="table-responsive">
                                <table class="display table table-striped table-bordered" id="zero_configuration_table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>OrderId</th>
                                            <th>Total Amount</th>
                                            <th>Created On</th>
                                            <th>User Email</th>
                                            <th>Click to View</th>
                                            <th>Invoice</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td><input type="checkbox" class="order-check" name="orderId" value="@item.OrderId" /></td>
                                                <td>@item.OrderId</td>
                                                <td>@item.TotalAmount</td>
                                                <td>@item.CreatedOn.ToString("dd-MMM-yyyy")</td>
                                                <td>@item.UserEmail</td>
                                                <td class="text-left" style="">
                                                    <a href="@Url.Action("ViewOrders", "Order", new {orderId = item.OrderId} )">View</a>
                                                </td>
                                                <td class="text-left" style="">
                                                    <a href="@Url.Action("GetInvoice", "Finance", new {orderId = item.OrderId} )">Invoice</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
