@model OnlineShop.Models.ProductReponse
@{
    string primaryImage = string.Empty;
}
    
    <div class="products mb-3">
        <div class="row justify-content-center">
            @if (Model.Products.Any())
            {
                foreach (var item in Model.Products)
                {
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                @if (item.ProductStock.FirstOrDefault().StockCount == 0)
                                {
                                    <span class="product-label label-sale" style="font-style:normal">Out of Stock</span>

                                }
                                else
                                {
                                    if (item.ProductStock.FirstOrDefault().Discount != 0)
                                    {
                                        <span class="product-label label-sale" style="font-style:normal">@item.ProductStock.FirstOrDefault().Discount% OFF</span>
                                    }
                                }

                                <a href="~/product/detail/@item.ProductId">
                                    <img src="@item.Image.FirstOrDefault().Url" id="@("set"+item.ProductId)" alt="Product image" class="product-image">
                                </a>
                            @if(item.ProductStock.FirstOrDefault().StockCount != 0) { 
                                <div class="product-action">
                                    <a style="cursor:pointer" onclick="AddToCart(@item.ProductStock.FirstOrDefault().ProductStockId,1)" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            }
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">@item.CategoryName</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="~/product/detail/@item.ProductId">@item.Name</a></h3><!-- End .product-title -->

                                @if (item.ProductStock.FirstOrDefault().OldProductPrice != "0")
                                {
                                    <div class="product-price">
                                        <span class="new-price" style="color:black">@item.ProductStock.FirstOrDefault().CurrencySymbol @item.ProductStock.FirstOrDefault().ProductPrice</span>
                                        <span class="intro-old-price" style="color:red">@item.ProductStock.FirstOrDefault().CurrencySymbol @item.ProductStock.FirstOrDefault().OldProductPrice</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="product-price" style="color:black">
                                        @item.ProductStock.FirstOrDefault().CurrencySymbol @item.ProductStock.FirstOrDefault().ProductPrice
                                    </div>
                                }
                                @*<div class="product-nav product-nav-dots">
                                    @{
                                        var dis = item.ProductStock.GroupBy(w => w.ColourName).Select(g => g.First()).ToList();
                                    }
                                    @foreach (var stock in dis)
                                    {
                                        <a href="#" class="active" title="@stock.ColourName" style="background: @stock.ColourCode;"><span class="sr-only">@stock.ColourName</span></a>
                                    }
                                </div>*@
                                <div class="product-nav product-nav-thumbs">

                                    @if (item.Image.Any())
                                    {
                                        foreach (var img in item.Image.Where(x => x.IsPrimary == false).ToList())
                                        {
                                            <a onclick="SelectImage('@item.ProductId','@img.Url')">
                                                <img src="@img.Url" alt="product desc">
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>


<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (Model.CurrentPageIndex == i)
            {
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" onclick="PageChange('@i')" href="#">@i</a></li>
            }
        }
    </ul>
</nav>
<script>
    function AddToCart(stockId,qty)
    {
        $.ajax({
            type: "Post",
            url: "/shoppingcart/addcart",
            data: {
                "ProductStockId": stockId,
                "Quantity": qty
            }, success: function (data)
            {
                $('#minicartsection').html(data);
            }
        })
    }

    function SelectImage(prodid, url) {
        $("#set" + prodid).attr("src", url);
    }

    function PageChange(pageNumber) {
        var ParentCategories = "";
        $("#SelectedCategory :text").each(function () {
            ParentCategories += "CategoryId:" +$(this).val() + "#";
        });
        var sizes = "";
        $("#SelectedSize :text").each(function () {
            sizes += "SizeId:" +$(this).val() + "#";
        });
        var colours = "";
        $("#SelectedColours :text").each(function () {
            colours += "colours:" +$(this).val() + "#";
        });
        var GenderTagId = $("#genderidText").val();
        $.ajax({
            type: "Post",
            url: "/product/Filter",
            data: {
                "ParentCategories": ParentCategories,
                "ChildCategories": "CategoryId:0#",
                "sizes": sizes,
                "Colours": colours,
                "CurrentPage": pageNumber,
                "GenderTagId": GenderTagId,
            },
            success: function (data) {
                $('#gridforShop').html(data);
            }
        })
    }
</script>